---
layout: default
title: Archive
---

<div>

  <h2>Post Archives</h2>

  <section class="archive_list">
    
       {% for post in site.posts %}
       <div class="category-name">
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h2>{{ currentDate }}</h2>
           <ul>
           {% assign myDate = currentDate %}
             {% endif %}
       </div>
       <div class="post_title">
        <li><a href="{{ post.url }}"><span>{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.title }}</a></li>
       </div>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}

  </section>

</div>


